<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke suite">
    <listeners>
        <listener class-name="Base.BaseListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="SergOnboardingTests">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="LoginTest">
                <methods>
                    <include name="validLogin"/>
                </methods>
            </class>
            <class name="SelectCategoryTest">
                <methods>
                    <include name="selectingRandomCategory"/>
                </methods>
            </class>
            <class name="SearchTest">
                <methods>
                    <include name="searchForOInValidDifferent"/>
                    <include name="searchForValidDifferent"/>
                </methods>
            </class>
            <class name="PaginationTest">
                <methods>
                    <include name="paginationTest"/>
                </methods>
            </class>
            <class name="LoginOutTest">
                <methods>
                    <include name="loginOut"/>
                </methods>
            </class>
            <class name="InvalidLoginTest">
                <methods>
                    <include name="negativeLogInTest"/>
                </methods>
            </class>
        </classes>

    </test>
</suite>